body {
  background: url("./img/city.gif")no-repeat center fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  color: #29DC03;
}

header {
  font-size: 80px;
  text-align: center;
  margin-top: 50px;
}

button {
  text-align: center;
  margin-left: 42px;
  font-size: 25px;
  background-color: black;
  color: #29DC03;
}

h1 {
  margin-left: 42px;
  font-size: 42px;
  color: #29DC03;
  text-decoration: none;
}

/*img {
  height: 50px;
  width: 50px;
}*/

table td {
  border: 3px solid black;
  text-align: center;
}

table {
  margin: 4em auto;
  box-shadow: 0 0 4em #fff;
  overflow: hidden;
  cursor: url("cursor.cur"), crosshair;
  z-index: 5;
}

form {
  display: inline-block;
  font-size: 42px;
  margin-left: 40px;
}

.pokemon {
  opacity: 0;
  justify-content: space-around;
  width: 50px;
  height: 50px;
}

.pokeStore {
  margin-right; 200px;
  padding-bottom: -30px;
  height: 70px;
  width: 70px;
}

.pokedex {
  height: 70px;
  width: 100px;
  margin-right: 60px;
}

@media only screen and (max-width: 500px) {
    table {
        width:100%;
    }


